html, body {
  font-family: "Marko One", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #1b1b1b;
}

header {
  background-color: rgba(240, 232, 230, 0.45);
  border-radius: 70px;
  padding: 20px;
  justify-content: center;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  display: flex;
  height:40px;
  gap:38px;
}

header a {
  text-decoration: none;
  color: #FFFF;
  font-size: 27px;
  margin-top: 3px;
  margin-left: 40px;
  transition: color 0.3s ease-in-out;
}

header a:hover{
  color: #ff3b78;
}

.botao2 .botao_imdb {
  background-color: #ff3b78;
  color: #fff;
  border: none;
  border-radius: 40px;
  width: 180px;
  height: 54px;
  font-size: 25px;
  text-align: center;
  line-height: 54px;
  margin-left: 0;
  text-decoration: none;
  display: inline-block;
}

.botao_inicio {
  background-color: #ff3b78;
  color:#EEE9E3;
  border:none;
  border-radius: 40px;
  width: 242px;
  height:73px;
  font-size:30px;
}

.inicio {
  position: relative;
  background-image: url(img/operacaocupido.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #EEE9E3;
  height: 100vh;
}

.inicio img {
  position: absolute;
  top: 204px;
  left: 85px;
}

.inicio h3 {
  font-size: 53px;
  position: absolute;
  top: 150px;
  left: 750px;
  color:#ffff;
}

.inicio h1 {
  font-size: 96px;
  position: absolute;
  left: 740px;
  top: 230px;
  color:#ffff;
}

.lorem1 {
  position: absolute;
  font-size: 24px;
  width: 877px;
  top: 450px;
  left: 750px;
}

.lorem2 {
  position: absolute;
  font-size: 24px;
  width: 877px;
  top: 600px;
  left: 750px;
}

.botao1 a{
  text-decoration: none;
  color:#ffff;
  font-family: "Marko One", serif; 
}

.botao2 {
  text-decoration: none;
  color:#ffff;
  font-family: "Marko One", serif; 
}

.botao1{
  position: absolute;
  top:790px;
  left:750px;
}

.botao_trailer{
  position:absolute;
  top:800px;
  left:1040px;
  color:#EEE9E3;
}

.texto_assistir{
  font-size:30px;
  color:#FFFF;
  text-decoration:underline;
  left:1110px;
  position:absolute;
  top:780px;
}

.series{
  color: #FFFF;
  height: 100vh;
}

.series-cards {
  text-align: center;
  padding: 40px 0;
}

.series h1 {
  position: absolute;
  font-size: 76px;
  left: 85px;
  margin-top: 60px;
}

.series-container {
  margin-top:160px;
  display: flex;
  gap: 111px;
  margin-left:85px;
}

.card {
  padding: 15px;
  width: 340px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.card h3 {
  margin: 24px 0 20px;
  font-size: 36px;
}

.card a{
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  text-decoration: underline; 
  font-size:25px;
}

.filmes {
  color: #FFFF;
  height: 100vh;
}

.filmes-cards {
  text-align: center;
  padding: 40px 0;
}

.filmes h1 {
  position: absolute;
  font-size: 76px;
  left: 85px;
  margin-top: 60px;
}

.filmes-container {
  margin-top: 160px;
  display: flex;
  gap: 111px;
  margin-left: 85px;
}

.minhalista {
  color: #FFFF;
  height: 100vh;
}

.minhalista-cards {
  text-align: center;
  padding: 40px 0;
}

.minhalista h1 {
  position: absolute;
  font-size: 76px;
  left: 85px;
  margin-top: 60px;
}

.minhalista-container {
  margin-top: 160px;
  display: flex;
  gap: 111px;
  margin-left: 85px;
}
