/* ===== Reset e fonte ===== */
html, body {
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* ===== Header ===== */
header {
    background-color: rgba(234, 226, 217, 0.69);
    border-radius: 70px;
    padding: 20px;
    justify-content: center;
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    max-width: 1046px;
}

header a {
    text-decoration: none;
    color: #4D2A89;
    font-size: 27px;
    margin-top: 125px;
    margin-left: 40px;
}

/* ===== Seções ===== */
.sobremim, 
.curiosidades, 
.minhasviagens, 
.proximosdestinos {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

/* ===== Sobre Mim ===== */
.sobremim {
    background-color: #EEE9E3;
}

.sobremim h1 {
    font-size: 128px;
    color: #4D2A89;
    margin-left: 960px;
    margin-top: 119px;
}

.texto-sobremim {
    font-size: 25px;
    color: #4D2A89;
    width: 821px;
    margin-left: 961px;
    margin-top: -120px;
}

/* ===== Curiosidades ===== */
.curiosidades {
    background-color: #4D2A89;
    color: #EEE9E3;
}

.curiosidades h1 {
    font-size: 90px;
    margin-left: 96px;
    margin-top: -120px;
    z-index: 10;
}

.curiosidades ol {
    font-size: 25px;
    margin-left: 96px;
    width: 821px;
    margin-top: -3px;
    z-index: 10;
}

.curiosidades li {
    margin-bottom: 10px;
}

/* ===== Minhas Viagens ===== */
.minhasviagens {
    background-color: #EEE9E3;
}

.minhasviagens h1 {
    font-size: 90px;
    margin-left: 96px;
    margin-top: -180px;
    color: #4D2A89;
    z-index: 10;
}

.minhasviagens ul {
    font-size: 25px;
    margin-left: 96px;
    color: #4D2A89;
    margin-top: -3px;
    z-index: 10;
}

.img {
    z-index: -1;
}

/* ===== Próximos Destinos ===== */
.proximosdestinos {
    background-color: #F07A9A;
}

.proximosdestinos h1 {
    font-size: 90px;
    color: #EEE9E3;
    z-index: 10;
    left: 96px;
    top: 200px;
    position: absolute;
}

.proximosdestinos ol {
    font-size: 25px;
    color: #4D2A89;
    margin-left: 130px;
    z-index: 10;
    margin-top: 270px;
}

.proximosdestinos li {
    margin-bottom: 10px;
    z-index: 10;
}

.sobremimimg, .linha, .linha2, .final,.curiosidadesimg, .retangulo,.minhas-viagenspng, 
.final2,.quadrado, .destinosimg, .linha1, .linha22, .linha3, .linha4 {
    position: absolute;
}

.sobremimimg {
    top: 104px;
    left: 50px;
}

.linha {
    top: 412px;
    left: 961px;
}

.linha2 {
    top: 580px;
    left: 961px;
}

.final {
    top: 720px;
    left: 810px;
}

.curiosidadesimg {
    top: 65px;
    left: 50px;
}

.minhas-viagenspng {
    top: 2090px;
    left: 10px;
    width: 2000px;
}

.final2 {
    top: -1px;
    left: 0px;
    width: 100%;
}

.quadrado {
    top: 440px;
    left: 96px;
}

.destinosimg {
    top: -55px;
    left: 200px;
}

.linha1 {
    top: 970px;
    width: 100%;
}

.linha22 {
    top: 1940px;
    width: 100%;
}

.linha3 {
    top: 2912px;
    width: 100%;
}
